:root {
    --primary-color: yellow;
    --secondary-color: rgb(222, 140, 26);
}

body {
    font-family: 'Lato', sans-serif;
}

.pokemon-header {
    background-color: var(--primary-color);
    padding: 7px;
}

.pokedex {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-button {
    font-size: 20px;
    padding: 12px;
    width: 100%;
}

.pokemon-list {
    list-style-type: none;
    width: 90%;
    max-width: 500px;
    margin: 0;
    padding: 0;
}
